/1. Searching/BinarySearch.exe
/1. Searching/LinearSearch.exe
/1. Searching/tempCodeRunnerFile.cpp
/2. Sorting/tempCodeRunnerFile.cpp
/2. Sorting/tempCodeRunnerFile.py
/2. Sorting/BubbleSort.exe
/2. Sorting/SelectionSort.exe
/2. Sorting/InsertionSort.exe
/2. Sorting/MergeSort.exe
/2. Sorting/QuickSort.exe